#u419-3
{
	border-color: #000000;
	background-color: #FFDFF3;
	position: relative;
}

#u109-4
{
	border-color: #000000;
	background-color: transparent;
	line-height: 72px;
	font-size: 60px;
	color: #000000;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
}

#menuu110
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u118,#u121
{
	background-color: transparent;
	position: relative;
}

#u122-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #000000;
	text-align: center;
	font-family: reenie-beanie, sans-serif;
	font-weight: 500;
	position: relative;
}

#u111,#u112
{
	background-color: transparent;
	position: relative;
}

#u113-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #000000;
	text-align: center;
	font-family: reenie-beanie, sans-serif;
	font-weight: 500;
	position: relative;
}

#u126,#u127
{
	background-color: transparent;
	position: relative;
}

#u130-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #000000;
	text-align: center;
	font-family: reenie-beanie, sans-serif;
	font-weight: 500;
	position: relative;
}

#u133,#u136
{
	background-color: transparent;
	position: relative;
}

#u138-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #000000;
	text-align: center;
	font-family: reenie-beanie, sans-serif;
	font-weight: 500;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u421
{
	background-color: transparent;
	position: relative;
}

#u93-3
{
	background-color: #FFD0E0;
}

#u104-4
{
	border-color: #000000;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: waiting-for-the-sunrise, sans-serif;
	font-weight: 400;
	position: relative;
}

