#u211-3
{
	border-color: #000000;
	background-color: #FFDFF3;
	color: #000000;
	font-family: waiting-for-the-sunrise, sans-serif;
	font-weight: 400;
}

#menuu182
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u190,#u193
{
	background-color: transparent;
	position: relative;
}

#u194-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #000000;
	text-align: center;
	font-family: reenie-beanie, sans-serif;
	font-weight: 500;
	position: relative;
}

#u183,#u184
{
	background-color: transparent;
	position: relative;
}

#u185-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #000000;
	text-align: center;
	font-family: reenie-beanie, sans-serif;
	font-weight: 500;
	position: relative;
}

#u197,#u198
{
	background-color: transparent;
	position: relative;
}

#u201-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #000000;
	text-align: center;
	font-family: reenie-beanie, sans-serif;
	font-weight: 500;
	position: relative;
}

#u204,#u207
{
	background-color: transparent;
	position: relative;
}

#u209-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #000000;
	text-align: center;
	font-family: reenie-beanie, sans-serif;
	font-weight: 500;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u215-4
{
	border-color: #000000;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: waiting-for-the-sunrise, sans-serif;
	font-weight: 400;
	position: relative;
}

