    {% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
      <style type="text/css">
     body{
	    background-color:red
        }
     pre{
         font-size:30pt;
         color: black;
         font-weight: bold;
     }
     img {
         height: 25%;
         width: 25%;
     }
 </style>

</head>
<body>
<pre>
    Your face and IP address have been recorded.

    Severe viruses have been sent to your IP.

    Please commit your crime to Songzi
    and ask for her forgiveness.
    </pre>
<img src={% static 'images/knife.jpg' %} />
</body>

</html>