
{% load staticfiles %}


<html>
<head>
    <title>Songzi's Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/listcss.css' %}">
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
    {% endif %}
    <h1><a href="{% url 'post_list' %}">Songzi's Blog</a></h1>
    <div class="my-word">
        <h1>永远年轻！</h1>
        <h1>永远热泪盈眶！</h1>
    </div>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="search">
                <form method="GET" action = ''>
                    <input type='text' name="q" placeholder="Search Posts" value="{{ request.GET.q }}" />
                    <input type='submit' value='Search' />
                </form>
            </div>

            {% for post in posts %}
                <div class="post">

                    <div class="date">
                        {{ post.published_date }}
                    </div>

                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

                    <p>{{ post.text|linebreaks|truncatechars:200}}</p>

                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>

                    <div class="gifts">
                        <br>
                        <img src={% static 'images/heart.gif' %} width="20" height="20" />
                        <p > Likes: {{ post.likes }}</p>
                        <img src={% static 'images/sun.gif' %} width="35" height="20" />
                        <p > Sunshine: {{ post.eggs }}</p>
                        <img src={% static 'images/cry.gif' %} width="20" height="20" />
                        <p > Dislikes: {{ post.flowers }}</p>
                        <img src={% static 'images/knee.png' %} width="20" height="20" />
                        <p > Knees: {{ post.knees }}</p>
                    </div>


                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>


